<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Vogge vittaly</div>
        <nav class="nav-buttons">
            <a href="{% url 'categoria_list' %}">Home</a>
            <a href="{% url 'categoria_list' %}">Categorias</a>
            <a href="#">Perfil</a>
            <a href="#">Carrinho</a>
        </nav>
    </header>
    <header class="header">
        <img src="{% static 'images/marca.png' %}" alt="Marca" class="brand-image">
    </header>
    <main class="categories">
        <section class="category">
            <h2>Feminino</h2>
            {% for categoria in categorias %}
                {% if categoria.genero == 'Feminino' %}
                    <div class="category-item">
                        <img src="{{ categoria.foto_url }}" alt="{{ categoria.nome }}">
                        <a href="{% url 'produtos_femininos_categoria' categoria.nome %}" class="button">{{ categoria.nome }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <section class="category">
            <h2>Masculino</h2>
            {% for categoria in categorias %}
                {% if categoria.genero == 'Masculino' %}
                    <div class="category-item">
                        <img src="{{ categoria.foto_url }}" alt="{{ categoria.nome }}">
                        <a href="{% url 'produtos_femininos_categoria' categoria.nome %}" class="button">{{ categoria.nome }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="about-us">
            <p>Sobre a loja</p>
            <p>A Vogge Vittaly é uma loja de roupas versátil e moderna, especializada em oferecer as últimas tendências da moda feminina e masculina. Com uma seleção cuidadosamente curada de peças de alta qualidade, a Vogge Vittaly se destaca por seu compromisso com a elegância e o estilo, atendendo aos gostos mais variados e exigentes. Seja para ocasiões casuais ou eventos especiais, a loja proporciona uma experiência de compra única, onde cada cliente encontra exatamente o que precisa para expressar sua personalidade e bom gosto. Venha descobrir as novidades e se encantar com a sofisticação da Vogge Vittaly.</p>
        </div>
        <div class="social-media">
            <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook">VOGGEVITTALY</a>
            <a href="#"><img src="{% static 'images/instagram.png' %}" alt="Instagram">@VOGGEVITTALY</a>
        </div>
    </footer>
</body>
</html>
