body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-buttons a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar .nav-buttons a:hover {
    text-decoration: underline;
}

.header {
    
    text-align: center;
    margin: 20px 0;
}

.header .brand-image {
    width: 200px;
    height: 200px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-size: cover;
}

.category {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.category-item {
    width: 200px; /* Define a largura das categorias para ficarem lado a lado */
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.category-item img {
    max-width: 200px;
    width: 160px;
    height: 150px;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #463c3c;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer .about-us,
.footer .social-media {
    margin-bottom: 20px;
}

.footer .social-media a {
    margin: 0 10px;
}

.footer .social-media img {
    width: 30px;
    height: 30px;
}
